# Files and folders created when building
/*.d.ts
/*.map
/baseMappings.js
/client.js
/server.js
/client/
/server/
/common/
/server/
/client/
/guillotine/
/index.js
/i18n/
/query/
/types/
/utils/
/views/

# File created when packing
enonic-nextjs-adapter-*.tgz

### Enonic CLI ###
.enonic

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk



### WebStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
**/.idea/
.idea_modules/
atlassian-ide-plugin.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
out/

# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage

# production
build/
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# No permanent docs yet, only temporary used by madge
/docs/
