name: Release

on:
  push:
    tags:
      - 'v*'

concurrency: release

permissions:
  id-token: write  # Required for OIDC
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Set npm tag
        run: |
          VERSION="${GITHUB_REF_NAME#v}"
          if [[ "$VERSION" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "NPM_TAG=latest" >> $GITHUB_ENV
          else
            echo "NPM_TAG=beta" >> $GITHUB_ENV
          fi

      - name: Publish
        run: |
          npm install -g npm@latest
          npm ci
          npm publish --tag $NPM_TAG

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: Enonic Next.js Adapter ${{ github.ref_name }}
